[general]
logdir=log
logconfig=logging.cfg
pidfile=burrow.pid
client-id=burrow-lagchecker
group-blacklist=^(console-consumer-|python-kafka-consumer-).*$

[zookeeper]
hostname=zkhost02.example.com
hostname=zkhost03.example.com
port=2181
timeout=6
lock-path=/burrow/notifier

[kafka "local"]
broker=kafka03.example.com
broker=kafka04.example.com
broker=kafka05.example.com
#broker-port=10251
broker-port=9092
zookeeper=zkhost02.example.com
zookeeper=zkhost03.example.com
zookeeper-port=2181
#zookeeper-path=/kafka-cluster
zookeeper-path=/brokers
offsets-topic=__consumer_offsets

#[storm "local"]
#zookeeper=zkhost01.example.com
#zookeeper=zkhost02.example.com
#zookeeper=zkhost03.example.com
#zookeeper-port=2181
#zookeeper-path=/kafka-cluster/stormconsumers

[tickers]
broker-offsets=60

[lagcheck]
intervals=10
expire-group=604800

[httpserver]
server=on
port=8000

[smtp]
server=mailserver.example.com
port=25
from=burrow-noreply@example.com
template=default-email.tmpl

[email "bofh@example.com"]
group=local,critical-consumer-group
group=local,other-consumer-group
interval=60

[httpnotifier]
url=http://notification.server.example.com:9000/v1/alert
interval=60
extra=app=burrow
extra=tier=STG
template-post=default-http-post.tmpl
template-delete=default-http-delete.tmpl
timeout=5
keepalive=30
